﻿/* Sidebar */

/* Hide for mobile, show later */
.aside { display: none; }
@media (min-width: 768px) {
	.aside { position: absolute; top: 51px; bottom: 0; left: 0; z-index: 1000; display: block; padding: 20px; overflow-x: hidden; overflow-y: auto; background-color: #f5f5f5; border-right: 1px solid #eee; } /* Scrollable contents if viewport is shorter than content. */
}

/* Sidebar navigation */
.nav-sidebar { margin-right: -21px; margin-bottom: 20px; margin-left: -20px; } /* 20px padding + 1px border */
.nav-sidebar > li > a { padding-right: 20px; padding-left: 20px; }
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus { color: #fff; background-color: #428bca; }

/* Main content */
.content { padding: 20px; }
.content .h1 { margin-top: 0; }
@media (min-width: 768px) {
  .content { padding-right: 40px; padding-left: 40px; }
}


.list-group { margin-right: -21px; margin-bottom: 20px; margin-left: -20px; background-color: #f5f5f5; } /* 20px padding + 1px border */
.list-group > .list-group-item.active a,
.list-group > .list-group-item.active a:hover,
.list-group > .list-group-item.active { color: #fff; text-shadow: none; background: none; background-color: #428bca; border-color: #428bca; }