﻿<div class="northwind">
	<div class="col-sm-3 col-md-2 aside">
		<ul class="nav nav-sidebar">
			<li ng-class="{active: $state.includes('northwind.employees')}" ><a ui-sref="northwind.employees">Employees</a></li>
			<li ng-class="{active: $state.includes('northwind.products')}"><a ui-sref="northwind.products">Products</a></li>
		</ul>
	</div>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 content" ui-view></div>
</div>