﻿<div class="northwind-employees">
	<div class="col-sm-3">
		<div class="list-group">
			<a class="list-group-item" ng-repeat="product in vm.products" ng-class="{active: product == vm.product}" ng-click="vm.product = product">
				[{{::$index + 1}}] {{::product.ProductName}}
			</a>
		</div>
	</div>
	<div class="col-sm-9" ng-if="vm.product">
		<dl>
			<dt>Unit Price</dt>
			<dd>{{vm.product.UnitPrice}}</dd>
			<dt>Quantity Per Unit</dt>
			<dd>{{vm.product.QuantityPerUnit}}</dd>
			<dt>Discontinued</dt>
			<dd>{{vm.product.Discontinued}}</dd>
		</dl>
	</div>
</div>