@section source
{
	@Scripts.Render("~/bundles/vendors/js")
	<script src="~/Scripts/angular-mocks.js"></script>
	@Scripts.RenderFormat("<script src=\"{0}\" data-cover></script>", "~/bundles/app/js")
}
@section spec
{
	@Scripts.Render("~/bundles/app/spec")
}