@section source
{
	<script type="text/javascript" src="~/Scripts/jasmine-samples/SpecHelper.js"></script>
	<script type="text/javascript" src="~/Scripts/jasmine-samples/PlayerSpec.js"></script>
}
@section spec
{
	<script type="text/javascript" src="~/Scripts/jasmine-samples/Player.js" data-cover></script>
	<script type="text/javascript" src="~/Scripts/jasmine-samples/Song.js" data-cover></script>
}