﻿<div class="northwind-employees">
	<div class="col-sm-3">
		<div class="list-group" ng-init="vm.employee = employees[0]">
			<a class="list-group-item" ng-repeat="employee in employees" ng-class="{active: employee == vm.employee}" ng-click="vm.employee = employee">
				[{{::$index + 1}}] {{::employee.FirstName + " " + employee.LastName}}
			</a>
		</div>
	</div>
	<div class="col-sm-9" ng-if="vm.employee">
		<dl>
			<dt>Country</dt>
			<dd>{{vm.employee.Country}}</dd>
			<dt>City</dt>
			<dd>{{vm.employee.City}}</dd>
			<dt>Address</dt>
			<dd>{{vm.employee.Address}}</dd>
			<dt>HomePhone</dt>
			<dd>{{vm.employee.HomePhone}}</dd>
			<dt>Notes</dt>
			<dd>{{vm.employee.Notes}}</dd>
		</dl>
	</div>
</div>