﻿@{
	ViewBag.Title = "Todo Page";
}
@section styles
{
	@Styles.Render("~/bundles/app/css")
}
@section scripts
{
	<script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
	<script>
		angular.element(document).ready(function () {
			angular.bootstrap(document.body, ['rrd']);
		})
	</script>
	@if (BundleTable.EnableOptimizations)
	{
		@Scripts.Render("~/bundles/app/templates")
	}
	@Scripts.Render("~/bundles/app/js")
}

<nav ng-cloak class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">RRD</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li ng-class="{active: $state.includes('northwind')}">
					<a ui-sref="northwind.employees">Northwind</a>
				</li>
				<li ng-class="{active: $state.includes('ymap')}">
					<a ui-sref="ymap">Map</a>
				</li>
			</ul>
			@*<form class="navbar-form navbar-right">
					<input type="text" class="form-control" placeholder="Search...">
				</form>*@
		</div>
	</div>
</nav>
<div class="container-fluid">
	<div ui-view class="row"></div>
</div>
<div ng-cloak class="is-busy" ng-show="page.isBusy"></div>