﻿<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>Jasmine Spec Runner</title>
	<link rel="shortcut icon" type="image/png" href="~/Scripts/jasmine/jasmine_favicon.png">
	<link rel="stylesheet" type="text/css" href="~/Scripts/jasmine/jasmine.css">
</head>

<body>
	<script type="text/javascript" src="~/Scripts/jasmine/jasmine.js"></script>
	<script type="text/javascript" src="~/Scripts/jasmine/jasmine-html.js"></script>
	<script type="text/javascript" src="~/Scripts/jasmine/boot.js"></script>
	<script type="text/javascript" src="~/Scripts/jasmine/console.js"></script>
	<script type="text/javascript" src="~/Scripts/blanket/blanket.min.js" data-cover-adapter="@Url.Content("~/Scripts/blanket/jasmine-2.x-blanket.js")"></script>
	<script>
		blanket.options("debug", false);
		blanket.options("sourceURL", true);
		blanket.options("ignoreScriptError", true);
	</script>

	<!-- include source files here... -->
	@RenderSection("source")

	<!-- include spec files here... -->
	@RenderSection("spec")
</body>
</html>
