﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	<style>
		[ng-cloak], .page-loading { display: none }
		[ng-cloak] + .page-loading { display: block; }
	</style>
	@Styles.Render("~/bundles/vendors/css")
	@RenderSection("styles", required: false)
</head>
<body>
	<div ng-cloak>@RenderBody()</div>
	<div class="page-loading">
		<h1>Wait while page is loading...</h1>
	</div>
	@Scripts.Render("~/bundles/vendors/js")
	@RenderSection("scripts", required: false)
</body>
</html>
